:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/** {
    border: 1px dashed red;
}
*/
.MainContents {
    display: grid;
    grid-template-columns: minmax(6, 1fr) 40vw;
    /*grid-column-gap: 12px;*/
    max-width: 60vw;
}

.PageTitle {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.NavBar {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 0;
}

li.NavButton {
    margin-left: 10px;
    margin-right: 10px;
}

button.NavButton{
    background-color: #808080;
}

#GridWarp{
}

/*.WX_Report{
    grid-column-start: 1;
    grid-column-end: 3;
}
*/
.WeatherCard{
    /*box-sizing: border-box;*/
    margin: 12px;
    /*background-size: cover;
    grid-column: span 12;*/
    grid-column-start: 2;
    grid-column-end: 4;
    border: 1px solid white;

}

.WeatherCards {
    /*margin: 12px auto !important;*/
    /*background-size: cover;
    grid-column: span 12;*/
    grid-column-start: 2;
    grid-column-end: 3;
}
.CurrentTemp{
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 80px;
    text-align: left;
}

.Temp_Emoji {
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    margin-top: 0px;
}

.WeatherEmoji {
    display: flex;
    align-items: center;
    font-size: 70px;
    align-self: flex-end;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.WeatherSummary{
    margin-top: 0px;
    padding-top: 0px;
}

.CurrentLocale{
    padding: 0px;
    margin: 0px;
}

